<input type="text" placeholder="Name Filter" class="form-control" (change)="searchFileNames($event)">
<nav class="nav nav-pills nav-justified flex-column">
    <a class="nav-item nav-link"
       *ngFor="let file of files;"
       [routerLink]="['/log']"
       routerLinkActive="active"
       [queryParams]="{ name: file?.name, rows: file?.rows, maxColumns: file?.maxColumns, size: file?.size  }"
       [queryParamsHandling]="''"
       [title]="file?.name">
      {{file?.name}}{{file?.rows? '' : ', indexing'}}
    </a>
</nav>
