<div class="log-title" [title]="file?.name">
  {{file?.name}}<ng-container *ngIf="file?.name && file?.size">, {{file?.rows? file?.rows + ' rows': 'indexing'}}, {{file?.size|fileSize}}</ng-container>
</div>
<div class="log-content-container" #logListContainer>
  <svg class="log-content" [attr.height]="16 + 19 * file?.rows" (scroll)="scrollList($event)" (resize)="resizeList($event)" #logList>
    <style>
      .log-content-item {
        font-family: 'Andale Mono', Consolas, 'Courier New', serif;
        font-size: 13px;
        fill: #BED6FF;
      }
    </style>
    <text class="log-content-item"
          *ngFor="let row of content;"
          [attr.y]="row?.index? 16 + row?.index * 19: 16">{{row?.row}}</text>
  </svg>
</div>
<!--<ul class="log-content" (scroll)="scrollList($event)" (resize)="resizeList($event)" #logList>
  <li *ngFor="let row of content;">{{row}}</li>
</ul>-->
