:host {
  display: block;

  position: relative;
  font-family: 'Andale Mono', Consolas, 'Courier New', serif;

  box-sizing: border-box;
  padding-top: 41px;
  height: 100%;

  .log-title {
    position: absolute;
    top: 0;
    left: 0;

    padding: 0.5rem 1rem;
    width: 100%;
    border-bottom: 1px solid #ced4da;

    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;

  }


  .log-content-container {
    display: block;
    overflow: auto;
    height: 100%;
    width: 100%;

    background-color: #2B2B2B;

    .log-content {
      min-height: 100%;
      min-width: 100%;
      width: auto;

      list-style: none;
      padding: 0.5rem 1rem;

      font-size: 13px;

      background-color: #2B2B2B;

      .log-content-item {
        //color: ;

        width: auto;
        white-space: pre;
      }
    }
  }

}
